doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu+Condensed|Open+Sans+Condensed:300|Archivo+Narrow", rel="stylesheet")
    link(href="styles.css", rel="stylesheet")
  body
    .nav
      a(href="#") Doandes Daniel
      a(href="#about")#about-nav Despre
      a(href="#projects")#projects-nav Proiecte
      a(href="#resume")#resume-nav Experienta
      a(href="#contact")#contact-nav Contact
      
    #about
      h1.primary Doandes Alexandru Daniel
      hr
      p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat odit provident similique illo recusandae. Ut minus, error quos, voluptatum adipisci voluptatibus quas velit facere aut, hic temporibus maxime optio! Officiis.
    
    #projects
      .col-50
        h1.primary Proiecte
      .col-50
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
        .col-20
          img(src="http://www.anunturimag.ro/uploads/ad_category/thumbnail/1432632757apartament.jpg").thumbnail
    #resume
      h1.primary Experienta
      hr
      
      .experience
        h1.secondary Studii
        
        h2.title.education Liceu
        p.info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iste cupiditate esse nostrum, delectus consequuntur voluptate natus. Et ipsam, consequatur minus ut velit magni. Officiis eligendi accusantium ducimus, repudiandae nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi cum repellat asperiores. Perferendis nisi laboriosam veritatis velit et, architecto sapiente fugit incidunt vitae eaque assumenda in quas nulla voluptatem.
        
        h2.title.education Facultate
        p.info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iste cupiditate esse nostrum, delectus consequuntur voluptate natus. Et ipsam, consequatur minus ut velit magni. Officiis eligendi accusantium ducimus, repudiandae nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi cum repellat asperiores. Perferendis nisi laboriosam veritatis velit et, architecto sapiente fugit incidunt vitae eaque assumenda in quas nulla voluptatem.
        
        h1.secondary Locuri de munca
        
        h2.title Title
        p.info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iste cupiditate esse nostrum, delectus consequuntur voluptate natus. Et ipsam, consequatur minus ut velit magni. Officiis eligendi accusantium ducimus, repudiandae nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi cum repellat asperiores. Perferendis nisi laboriosam veritatis velit et, architecto sapiente fugit incidunt vitae eaque assumenda in quas nulla voluptatem.
        
        h2.title Title
        p.info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iste cupiditate esse nostrum, delectus consequuntur voluptate natus. Et ipsam, consequatur minus ut velit magni. Officiis eligendi accusantium ducimus, repudiandae nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi cum repellat asperiores. Perferendis nisi laboriosam veritatis velit et, architecto sapiente fugit incidunt vitae eaque assumenda in quas nulla voluptatem.
        
        h2.title Title
        p.info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iste cupiditate esse nostrum, delectus consequuntur voluptate natus. Et ipsam, consequatur minus ut velit magni. Officiis eligendi accusantium ducimus, repudiandae nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi cum repellat asperiores. Perferendis nisi laboriosam veritatis velit et, architecto sapiente fugit incidunt vitae eaque assumenda in quas nulla voluptatem.
        
        h2.title Title
        p.info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iste cupiditate esse nostrum, delectus consequuntur voluptate natus. Et ipsam, consequatur minus ut velit magni. Officiis eligendi accusantium ducimus, repudiandae nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi cum repellat asperiores. Perferendis nisi laboriosam veritatis velit et, architecto sapiente fugit incidunt vitae eaque assumenda in quas nulla voluptatem.
        
      hr  
    #contact
      .col-50
        i.fa.fa-envelope-open.fa-4x
        i.fa.fa-facebook.fa-4x
        i.fa.fa-instagram.fa-4x
        i.fa.fa-phone-square.fa-4x
      .col-50
        h1.primary Contact
        
    #footer
        h1.footer-title Check out the source code on GitHub 
        i.fa.fa-github-square.fa-5x
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="script.js")